<h1>Welcome</h1>

<p>We are currently working on your account.</p>
<p><%=@user.username%></p>
<p>$<%=@user.balance%></p>

<h2>Make a Deposit</h2>
<form method = "POST" action = "/deposit">
<input type = "number" name = "deposit" id = "deposit">
<input type = "submit" name = "Submit" id ="submit">
</form>

<h2>Withdraw from Account</h2>
<form method = "POST" action = "/withdraw">
<input type = "number" name = "withdraw" id = "withdraw">
<input type = "submit" name = "Submit" id ="submit">
</form>

<p><a href="/logout">Log Out</a></p>
